/* custom-aed-font.css */

 @font-face {
        font-family: 'igNewAEDSymbolFont';
        src: url('fonts/igAedFont.woff2') format('woff2');
        font-weight: normal;
        font-display: swap;
        unicode-range: U+0041, U+0044, U+0045;
    }

    body .woocommerce-Price-currencySymbol,
    body .wc-block-components-product-price__value,
    body .wc-block-components-product-price__regular,
    body .wc-block-formatted-money-amount,
    body .order_total.column-order_total,
    body .woocommerce-Price-amount.amount,
    body .wc-shipping-zone-method-currency
        {
        font-family: 'igNewAEDSymbolFont' !important;
    }